.btn {
  display: block;
  border-radius: 5px;
  width: 80px;
  height: 40px;
}

.btn.red {
  background: #f00;
}

.btn.green {
  background: #0f0;
}

aside {
  width: 240px;
}

aside .menu {
  margin-bottom: 20px;
}

body#top aside {
  width: 300px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.block {
  width: 500px;
}

.block__element {
  margin-bottom: 20px;
}

.block__element--modifer {
  background: #f00;
}
