.text-red {
  color: #f00;
}

.borderBox {
  border: 1px solid #666;
}

.item {
  padding: 10px;
  @extend .text-red;
  @extend .borderBox;
}

.note {
  @extend .text-red;
  font-size: 12px;
}

.error {
  @extend .note;
  font-weight: bold;
}

