@mixin roundBox {
  border-radius: 10px;
  background: #ededed;
  border: 1px solid #666;
}

.sideArea {
  @include roundBox;
}

.bottomArea {
  @include roundBox;
}

.main {
  @mixin mainBox {
    margin-bottom: 20px;
  }

  .contents {
    @include mainBox;
  }
}
