@function sum($value1: 50px, $value2: 50px) {
  $result: 0;
  @if type-of($value1) == number {
    $result: $value1 + $value2;
  }@else  {
      //@warn "#{$value1}は 数値ではありません";
      @error "#{$value1}は 数値ではありません";
    }
  @return $result;
}

.sum {
  width: sum(100px, 200px);
  height: sum();
}

@function average($arr) {
  $sum: 0;
  @each $value in $arr {
    $sum: $sum + $value;
    @debug $sum;
  }
  @return round($sum / length($arr));
  //平均値の計算  小数点の場合四捨五入することも処理に入れる。
}

$list: 1, 6, 8, 12;

.ave {
  margin: average($list);
  //test: function-exists(func);
}
