.block {
  .element1 {
    width: 800px;
  }

  @at-root {
    .element2 {
      width: 100px;
    }
    .element3 {
      width: 1100px;
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;

    @at-root (without: media rule) .item {
      margin-bottom: 30px;
    }
  }
}